@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
}
.title{
    font-size: 20px;
}
main{
    background: #efefef;
}
.header{
    background: #3c1874;
    color:  #f0f9ff;
    padding: 10px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.menu{
    display: none;
}
.list li
{
    margin: 8px;
    padding: 8px;
    font-size: 20px; 
    display:inline-flex;
    border-radius: 6px;
}
.list li.two,
.list li:hover{
    background: white;
    color: black;
}
a{
    color:  #f0f9ff;
}
@media (max-width:860px)
{   
    .title{ 
        font-size: smaller;
    }
    .menu{
        display: block;
        justify-content: end;
    }
    .list{
        display: none;
    }
    .about-content,.about-main,.foot{
       grid-template-columns: 1fr !important;
    }
}
@media (max-width:960px)
{
    .list li{
        font-size: 18px !important;
    }
    .title{
        font-size: 16px;
    }
}
.about-image img{
    width: 100%;
    height: 100%;
}
.about-content{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
}
.about-para
{
    margin: 10% ;
}
.box > div{
    width: 10px;
    height: 10px;
    background: blueviolet;
    margin: 10px 5px;
    transform: rotate(45deg);
}
.box{
    display: flex;
}
.vision .box,.horizon .box{
    display: flex;
    justify-content: center;
}

.vision, .horizon{
    border: 1px solid white;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 20%);
    padding: 5%;
}
.vision h1, .horizon h1{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.about-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    padding: 0 10%;
}
footer{
    background: #3c1874;
}
.foot  h3{
    margin: 10px 0;
    color: white;
    font-weight: 600;
}
.foot ul li a{
    color:  #f0f9ff;
    font-size: small;
}
.foot ul li a:hover{
    color: white;
}
.foot{
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
.icons
{
    margin-top: 50px;
    text-align: center;
    /* margin-bottom: 5%; */
}
.fab{
    font-size: 25px;
    padding: 10px;
}

.copy h5{
    padding: 10px;
    text-align: center;
    color: #576975;
}